body{
  background-color: #2a6114;
}
h1{
    color: #f6e67c
}
h2{
    font-size: 5rem;
    color: #f6e67c
}
p{
    font-family: Helvetica, Arial, sans-serif;
    color: #f67cd2;
}
b{
    font-weight: 900;
}
header{
    color: #f6e67c
}
header{
    font-size: 1rem
}
h1{
    font-size: 3rem
}
h1{
    align-content: center;
}
body{
    font-size: 1.5rem
}
footer{
    font-size: .9rem
}
footer{
    color: #f6e67c
}
main{
    size: landscape
}